@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Poppins&display=swap');
html {
  *, *:before, *:after {
    box-sizing: border-box;
  }

  //Fonts 
  font-family: var(--primary-font);
  
  //Colors
  --primary-color: #770000;
  --secondary-color: #020077;
  --white: #bceaff;
  --light-gray:#b8b8b8; 
  --dark-gray: #0e0e0e;
  --black: #0c0c0c;
  --error-color: #eb5757;
  --primary-font: 'Consolas', sans-serif;
  --secondary-font: poppins;
  --global-font-size: 16px;
  @media (max-width: 600px) {
    --global-font-size: 18px;
  }
}

.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header{
  flex: 0 0 0;
}

main{
  position:relative;
  flex: 1 0 200px;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  @media (max-width: 768px){
    padding: 0;
  }
}

h1, h2, h3, h4 {
  font-family: 'Consolas', sans-serif;
  color: #fff;
}

p{
  color: var(--light-gray);
}

body{
  background: var(--dark-gray);
  color: var(--light-gray);
  font-family: 'Consolas', sans-serif;
  font-size: 16px;
}

.app{
  min-height:100vh;
  display: flex;
  flex-direction: column;
}

@keyframes rotate20{
  100%{
      transform: rotateZ(-20deg) scale(1.2);
  }
}